body {
    background-image: url(bg1.jpg);
    background-repeat: no-repeat;
    background-position: fixed;
    background-size: cover;
    padding: 0%;
    font-family: sans-serif;
}

.logo {
    width: 50%;
    float: left;
    padding: 8px;
    padding-top: 14px;
}

.logo img {
    margin-left: 160px;
    padding: 15px;

}

nav ul li {
    margin-left: 20px;
    background-color: #ffffff;
    font-size: larger;
    display: inline-block;

    line-height: 50px;

    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
    color: #ff0000;

}

nav ul li:hover {
    background-color: #ff0000;
    transition: 0.4s;
}

nav ul li a:hover {
    color: aliceblue;
}

nav ul li a {
    text-decoration: none;
    color: #ff0000;
    border-right: 1px rgb(160, 29, 29);
}

nav {
    /* Fallback for older browsers without RGBA-support */
    background: rgba(0, 0, 0, 0.3);
    padding: 5px;


}

nav ul li:last-child {
    margin-right: none;
}

nav ul li h3:hover {
    background-color: red;
    transition: 0.3s;
}

.intro {
    text-align: center;
    font-size: 30px;
    width: 100%;
    margin-bottom: 33px;
    color: white;
    padding-top: 166px;


}

.btn {
    margin-left: 37%;
}

.btn1 {

    background-color: #ff0000;
    border-radius: 30px;
    float: left;
    padding-left: 15px;
    color: aliceblue;
    padding-right: 15px;
    margin-left: 30px;
    width: auto;


}

.btn1:hover {


    background-color: rgb(255, 255, 255);
    border-radius: 30px;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 30px;
    width: auto;
    transition: 0.5s;
    color: #ff0000;
}